<body>

<div class="page">
<nav class="menu">
  <ul class="menu__list">
    <li class = "nav-item">
      <a class="nav-link active menu__group menu__link" [routerLink]="['']">Home</a>
    </li>
    <li class = "nav-item">
      <a class="nav-link active menu__group menu__link" [routerLink]="['/add']">Dodaj</a>
    </li>
    <li class = "nav-item">
      <a class="nav-link active menu__group menu__link" [routerLink]="['/get']">Tabela</a>
    </li>
    <li class = "nav-item">
      <a class="nav-link active menu__group menu__link" [routerLink]="['/random']">Losowanie</a>
    </li>
  </ul>
</nav>
</div>






</body>
