<body>

<br><br><br><br><br><br>


<div id = "form">
  <h1>Aplikacja losująca dyżurujących</h1>
  <br>
  Aplikacja losująca użytkowników dyżurujących w danym dniu.
  Panel dodawania nowej osoby dyżurującej, Strona losowania -
  konfiguracja: od jakiej daty ustalamy dyżury, konfiguracja na które
  dni tygodnia dyżury są wymagane + przycisk losowania i możliwość pobrania
  Excela z wylosowanymi dyżurami


</div>


</body>

<footer class="page-footer font-small blue foot">

  <div class="footer-copyright text-center py-3">© 2020 Copyright: Wykonawcy Patryk Zych | Arkadiusz Kopacz | Tomasz Grzesik
  </div>

</footer>
