<body>

<br><br>
<div id = "form">
  <h1>Wprowadź dane</h1>
  <form class ="user-data">
    <br><br><br>
    <div class = "form-group">
    <div class="input-container">
      <input id = "name" class="form-control" type = "text" required=""/>
      <label>Imie</label>
    </div>
    </div>
    <br><br><br>
    <div class = "form-group">
    <div class="input-container">
      <input id = "surname" class="form-control" type = "text" required=""/><br/>
      <label>Nazwisko</label>
    </div>
    </div>

    <button type="submit" class="btn btn-primary" id="button" (click)="addEmployee()" >Dodaj</button>

  </form>
</div>

</body>
