<body>
<br><br>

<div id = "form">
  <h2>Lista pracowników:</h2>
<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Imię</th>
    <th scope="col">Nazwisko</th>
  </tr>
  </thead>

  <tbody *ngFor="let item of items$">
  <tr>
    <td><app-get-item [id] = "item.id" ></app-get-item></td>
    <td><app-get-item [name] = "item.name" ></app-get-item></td>
    <td><app-get-item [surname] = "item.surname"></app-get-item></td>
  </tr>
  </tbody>

</table>
</div>>

</body>

