@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');


body{
  background-image: url("https://wallpaperaccess.com/full/1282794.jpg");
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height:100vh;
  font-family: 'Noto Sans', sans-serif;
}


#form{
  text-align:center;
  margin-left:30%;
  margin-right:30%;
  margin-top:50px;
  background-color: rgba(0, 0, 0, 0.87);
  border-radius:3px;
  padding:100px 150px;
  color: white;
}


.table{
  text-align:center;
}
